#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Firefox Nightly
GenericName=Web Browser
Comment=Browse the Web
Exec=env MOZ_USE_EGL=1 /opt/firefox-nightly/firefox %u
Icon=firefox-nightly
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=Nightly
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=env MOZ_USE_EGL=1 /opt/firefox-nightly/firefox --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=env MOZ_USE_EGL=1 /opt/firefox-nightly/firefox --private-window %u
